$pos:center;
$colorsec:white;
$colorbut:#0DC5B9;
$colorpr:#043340;
$colorter:gray;
$titlesize:55px;
$fprincipal:'IBM Plex Sans Thai Looped', sans-serif;
$fsecundaria:'Nunito', sans-serif;
$fterciaria: 'Noto Sans', sans-serif;