<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PureVPN es uno de los VPN mas grande del mercado. Ingresa y conoce más.">
    <meta name="keywords" content="VPN, CONEXIONES, SEGURIDAD, DATOS, DISPOSITIVOS, INCOGNITO, PRIVACIDAD">
    <!--favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@600&family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <!-- Bootstrap, CSS, Icons -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ed80c93c46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Características</title>
</head>
<body>
    <!--inicio encabezado-->
    <header>  
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="../index.html">Inicio</a>
                    <a class="nav-item nav-link  active" href="caracteristicas.html">Caracteristicas<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="planes.html">Planes</a>
                    <a class="nav-item nav-link" href="nosotros.html">Nosotros</a>
                    <a class="nav-item nav-link" href="contacto.html">Contacto</a>
                </div>
            </div>
        </nav>
        <!--/Navbar-->
    </header>
    <!--cierre encabezado-->
    <!--inicio content-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 cont-04">
                    <h1>Accede a todos los beneficios de una VPN</h1>
                    <h2>La mayor seguridad para tus datos. Ingresa a todos los sitios y aplicaciones, con total proteccion</h2>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="container">
                <div class="row" data-aos="fade-right">
                    <div class="col-12 col-md-6 specs">
                        <i class="bi bi-shield-lock"></i>
                    </div>    
                    <div class="col-12 col-md-6 specs">
                            <h2>La mejor proteccion la da una VPN</h2>
                            <p class="space">El cifrado de datos es uno de los principales beneficios de una VPN, te permite navegar con total seguridad sin riesgo a exponer tus datos. Tome el control de su privacidad y seguridad en línea con la mejor encriptación en su categoría.</p>
                            <hr class="featurette-divider">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" data-aos="fade-right">
                    <div class="col-12 col-md-6 specs order-md-2">
                        <i class="bi bi-laptop"></i>
                    </div>    
                    <div class="col-12 col-md-6 specs order-md-1">
                        <h2>Todos tus dispositivos conectados</h2>
                        <p class="space">Teléfono, tablet, computadora, router... no importa qué dispositivo use ni dónde se encuentre: una única suscripción a PureVPN le cubre totalmente. Con una cuenta podrá conectar hasta 6 dispositivos. Asegúrelos todos en cualquier combinación.
                        </p>
                        <hr class="featurette-divider">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" data-aos="fade-right">
                    <div class="col-12 col-md-6 specs">
                        <i class="bi bi-hdd-rack"></i>
                    </div>    
                    <div class="col-12 col-md-6 specs">
                        <h2>Servidores en todo el mundo, el mejor disfraz para tu conexión</h2>
                        <p class="space">Conéctate a cualquier servidor. Solo necesitarás un clic o un toque para usar internet de forma totalmente privada. Con solo pulsar un botón, la aplicación te conectará con el servidor VPN que mejor satisfaga tus necesidades en cada momento.</p>
                        <hr class="featurette-divider">
                    </div>
                </div>       
            </div>
            <hr class="featurette-divider">
        </div>
    </main>
    <!--cierre content-->
    <!--inicio footer--> 
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 cont-foot">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">© 2021 PureVPN. Todos los derechos reservados.</span>
        </div>
        <!--redes-->
        <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://es-la.facebook.com/"><i class="bi bi-facebook"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/renzomasutti/"><i class="bi bi-instagram"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://ar.linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
        </ul>
    </footer>
    <!--cierre footer-->        
    <!--jQuery and Bootstrap Bundle (includes Popper)-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>