<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PureVPN es uno de los VPN mas grande del mercado. Ingresa y conoce más.">
    <meta name="keywords" content="VPN, CONEXIONES, SEGURIDAD, DATOS, DISPOSITIVOS, INCOGNITO, PRIVACIDAD">
    <!--favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@600&family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Contacto</title>
</head>
<body class="body-c">
  <!--inicio grid-->    
  <div id="grid-contacto">
    <!--inicio encabezado-->
    <header class="header-c">            
      <!--inicio nav-->    
      <nav class="nav-c">
        <a class="a-c" href="../index.html"><img class="header__img" src="../assets/img/logo.png" alt="logo"></a> 
        <ul class="menu__lista">
          <li class="menu__elemento"><a class="a-c" href="../index.html">Inicio</a></li>
          <li class="menu__elemento"><a class="a-c" href="caracteristicas.html">Características</a></li>
          <li class="menu__elemento"><a class="a-c" href="planes.html">Planes</a></li>
          <li class="menu__elemento"><a class="a-c" href="nosotros.html">Nosotros</a></li>
          <li class="menu__elemento"><a class="a-c" href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    <!--cierre nav-->
    </header>
    <!--cierre encabezado--> 
    <!--inicio contenido-->   
    <main class="main-c">
      <div>
        <h1>Contáctanos</h1>
        <p>Póngase en contacto y díganos cómo podemos ayudarle.</p>
        <!--inicio formulario-->
        <form class="form__container" action="#">
          <div class="grupo">
            <label for="nombre"><strong>Nombre</strong></label><br>
            <input type="text" name="nombre" id="" placeholder="Nombre">
          </div>
          <div class="grupo">
            <label for="apellido"><strong>Apellido</strong></label><br>
            <input type="text" name="apellido" id="" placeholder="Apellido">
          </div>  
          <div class="grupo">
            <label for="num"><strong>Teléfono</strong></label><br>
            <input type="number" name="num" id="" required placeholder="Teléfono">
          </div>
          <div class="grupo">
            <label for="mail"><strong>Correo*</strong></label><br>
            <input type="email" name="mail" id="" required placeholder="Correo"><br>
            <small>*Nunca compartimos tus correos con terceros</small>
          </div>  
          <textarea name="" id="" cols="30" rows="10" placeholder="Deje su consulta.."></textarea><br>
          <input class="boton" type="submit" value="Enviar">
        </form>
        <!--cierre formulario-->
      </div>
      <div class="help">
        <h3>¿Necesitas ayuda?</h3>
        <p>Visite nuestro Centro de ayuda o contacte con Atención al cliente directamente.</p>
        <input class="boton" type="submit" value="Centro de Ayuda">
        <input class="boton" type="submit" value="Chat en Vivo">
      </div>
    </main>    
    <!--cierre contenido-->        
    <!--inicio footer-->
    <footer class="footer-c">
      <div>
        <p>© 2021 PureVPN. Todos los derechos reservados.</p>
      </div>
      <!--redes-->
      <ul>
        <li><a href="https://twitter.com/?lang=es">Twitter</a></li>
        <li><a href="https://es-la.facebook.com/">Facebook</a></li>
        <li><a href="https://www.instagram.com/renzomasutti/">Instagram</a></li>
        <li><a href="https://www.youtube.com/">Youtube</a></li>
        <li><a href="https://ar.linkedin.com/">Linkedin</a></li>
      </ul>
    </footer>
    <!--cierre footer-->
  </div>
  <!--cierre grilla--> 
</body>
</html>
