<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PureVPN es uno de los VPN mas grande del mercado. Ingresa y conoce más.">
    <meta name="keywords" content="VPN, CONEXIONES, SEGURIDAD, DATOS, DISPOSITIVOS, INCOGNITO, PRIVACIDAD">
    <!--favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@600&family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <!-- Bootstrap, CSS, Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ed80c93c46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Nosotros</title>
</head>
<body>
    <!--inicio encabezado-->
    <header>
        <!--inicio nav-->    
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="../index.html">Inicio</a>
                    <a class="nav-item nav-link" href="caracteristicas.html">Caracteristicas</a>
                    <a class="nav-item nav-link" href="planes.html">Planes</a>
                    <a class="nav-item nav-link active" href="nosotros.html">Nosotros<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="contacto.html">Contacto</a>
                </div>
            </div>
        </nav>
        <!--/Navbar-->
    </header>
    <!--cierre encabezado-->
    <!--inicio content-->
    <main>
    <main>
        <div class="container-fluid">
            <div class="row row-bg-nos">
                <div class="col-12">
                    <div class="nos-h">
                        <h1>Acerca de PureVPN</h1>
                        <h5>La seguridad a un click de distancia</h5>
                    </div>
                </div>
            </div>
            <div class="container"> 
                <div class="row">
                    <div class="col-12 cont-03">          
                        <h2>Nuestra meta</h2>
                        <p>Nuestro objetivo es mejorar internet. Es posible conseguir que no haya amenazas, censura ni vigilancia online, tal y como se concibió en 1989, cuando se inventó la World Wide Web.</p>
                    </div>
                </div>
            </div>
            <div class="container"> 
                <div class="row">
                    <div class="col-12 col-md-6 cont-03 order-md-2">                       
                        <h2>Como empezamos</h2>
                        <p>En 2008, unos amigos de la infancia se unieron para crear PureVPN. Habían pasado mucho tiempo en diferentes partes del mundo, pero vieron el mismo panorama: creciente censura en Internet, control de los contenidos y vigilancia intrusiva de organismos públicos. En otras palabras, detectaron la necesidad acuciante de crear una herramienta de seguridad en internet que estuviera disponible para todo el mundo.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 cont-03 multi order-md-1">
                        <img id="office" src="../assets/img/empresa1.jpg" alt="trabajadores en una reunion en una oficina">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 cont-03 order-md-1">                                
                        <h2>El primer servidor</h2>
                        <p>Los creadores configuraron el primer servidor VPN y compartieron el prototipo entre sus amigos. Las opiniones fueron muy positivas, lo que los animó a continuar con su trabajo. El camino no fue fácil, pero la valentía, la determinación y la búsqueda de la innovación los impulsaron a seguir.</p>
                    </div>
                    <div class="col-12 col-md-6 cont-03 multi order-md-2">                   
                        <img id="office" src="../assets/img/empresa2.jpg" alt="elementos de oficina sobre un escritorio">
                    </div>
                </div>    
            </div>
            <div class="container"> 
                <div class="row">
                    <div class="col-12 col-md-6 cont-03 order-md-2">        
                        <h2>Donde estamos</h2>
                        <p>Lo que comenzó con un solo servidor VPN es ahora uno de los proveedores de seguridad de internet más fiables del mercado, y presta servicio a más de 14 millones de usuarios en todo el mundo. PureVPN, conocida por sus sólidos valores y sus funciones bien diseñadas, es valorada por influyentes webs de tecnología y especialistas en seguridad de TI.</p>
                    </div>
                    <div class="col-12 col-md-6 cont-03 multi order-md-1">
                        <img id="office" src="../assets/img/empresa3.jpg" alt="empresario sosteniendo una tablet">
                    </div>
                </div>
            </div>     
        </div>      
    </main>
   <!--cierre content-->
    <!--inicio footer--> 
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 cont-foot">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">© 2021 PureVPN. Todos los derechos reservados.</span>
        </div>
        <!--redes-->
        <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://es-la.facebook.com/"><i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/renzomasutti/"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://ar.linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
        </ul>
    </footer>
    <!--cierre footer-->        
    <!--jQuery and Bootstrap Bundle (includes Popper)-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>